= simple_nested_form_for @quote, wrapper: :bootstrap_horizontal, html: { class: 'form-horizontal quote_form', multipart: true, autocomplete: 'off' } do |f|
  = f.input :content, label_html: { class: 'col-sm-2' }, input_html: { class: 'span8', rows: 5 }, placeholder: 'Quotes & Words...', autofocus: true
  = f.input :author_name, label_html: { class: 'col-sm-2' }, as: :string, placeholder: 'by whom', label: 'Author', input_html: { data: { wiki_field: 'author_wiki_id' } }
  = f.input :source, label_html: { class: 'col-sm-2' }, placeholder: 'Book, Movie or any media', input_html: { data: { wiki_field: 'source_wiki_id' } }
  = f.input :author_id, label_html: { class: 'col-sm-2' }, as: :hidden
  = f.input :source_wiki_id, label_html: { class: 'col-sm-2' }, as: :hidden
  = f.input :context, label_html: { class: 'col-sm-2' }, placeholder: 'Under what context or circumstances...', input_html: { class: 'span8', rows: 2 }
  - if @quote.persisted?
    = f.input :language, as: :select, collection: %w(english japanese chinese), prompt: 'Select language'
  .form-group
    = f.label :photos, class: 'col-sm-2 control-label'
    .col-sm-8
      .row
        = f.fields_for :photos
      = f.link_to_add 'Add more ...', :photos, class: 'btn btn-sm add_more_photos'
  .form-group
    .col-sm-offset-2.col-sm-8
      = f.submit class: 'btn btn-primary'
      = link_to 'Cancel', quotes_path, class: 'btn btn-default'
