%li.quote
  %blockquote
    .quote_body
      = link_to simple_format(quote.content), quote
    - if quote.photos.exists?
      .quote_photo
        = image_tag quote.photos.first.file.thumb.url
    .meta_info
      = quote.name
      - if quote.source?
        %cite
          &mdash;《
          = auto_link(quote.source, html: { target: '_blank'}) { |text| truncate(text, length: 30) }
          》
  .vote{id: dom_id(quote, :voting)}
    = render "votes/vote", quote: quote