%li.quote.well
  .uploader
    = user_avatar(quote.user, size: '30x30', class: 'img-circle user_avatar')
    %span.owner
      = t('.shared_by', user_name: link_to(quote.user.name, quote.user, class: 'user_link')).html_safe
  .contents
    %blockquote
      .quote_body{class: quote.language}
        = link_to simple_format(quote.content), quote
      - if quote.photos.present?
        .quote_photo
          = image_tag quote.photos.first.file.thumb.url
      = render 'quotes/quote_meta_info', quote: quote
  .actions
    .like{id: dom_id(quote, :like)}
      = render "likes/like", quote: quote
