<% meta property: 'og:site_name', content: 'Quoty.me' %>
<% meta property: 'og:title', content: "Modern quotes shared in morden way" %>
<% meta property: 'og:description', content: "A place where people can share and save the most touching and inspiring quotes or words, in a modern way." %>
<% meta property: 'og:url', content: request.original_url %>
<% meta name: 'twitter:card', content: 'summary' %>

<% if show_product_tagline? %>
  <div class="jumbotron">
    <h1><%= t('global.service_name') %></h1>
    <h3><%= t('.tagline') %></h3>
  </div>
<% else %>
  <div class="page-header well">
    <h1><%= quotes_list_title(@quotes) %></h1>
  </div>
<% end %>

<div class="row">
  <div class="col-md-2">
    <div class="list-group">
      <%= nav_link 'Recent', root_path, class: 'list-group-item' %>
      <%= nav_link 'Popular', popular_quotes_path, class: 'list-group-item' %>
    </div>

    <% if signed_in? %>
      <div class="list-group">
        <%= nav_link 'Likes', likes_quotes_path %>
        <%= nav_link 'Posts', my_quotes_path %>
      </div>
    <% end %>

    <div class="list-group">
      <%= nav_link 'English', quotes_path(locale: :en) %>
      <%= nav_link '日本語', quotes_path(locale: :ja) %>
      <%= nav_link '中文', quotes_path(locale: :zh) %>
    </div>
  </div>

  <div class="col-md-10">
    <% if @quotes.present? %>
      <ul id="quotes">
        <% cache @quotes do %>
          <%= render @quotes %>
        <% end %>
      </ul>
    <% else %>
      <div class="well">No quotes found...</div>
    <% end %>

    <%= render 'more_results' %>
  </div>
</div>
