- model_class = Quote
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:content)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:source)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @quotes.each do |quote|
      %tr
        %td= link_to quote.content, quote
        %td= quote.name
        %td= quote.source
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_quote_path(quote), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), quote_path(quote), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_quote_path, :class => 'btn btn-primary'
