- unless signed_in?
  .hero-unit
    .pull-right
      = image_tag 'http://www.gravatar.com/avatar/9100faec8b9af029823b0a0ff208b942', class: 'img-circle'
    %h1= t('global.service_name')
    %h3= t('.tagline')

%ul#quotes
  = render @quotes

.well
  = render 'more_results'
