<% if show_product_tagline? %>
  <div class="hero-unit">
    <h1><%= t('global.service_name') %></h1>
    <h3><%= t('.tagline') %></h3>
  </div>
<% else %>
  <div class="page-header well">
    <h1><%= quotes_list_title(@quotes) %></h1>
  </div>
<% end %>

<div class="row">
  <div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Discovery</li>
        <%= nav_link 'Recent', root_path %>
        <%= nav_link 'Popular', popular_quotes_path %>
        <% if signed_in? %>
          <li class="nav-header">My</li>
          <%= nav_link 'Likes', likes_quotes_path %>
          <%= nav_link 'Posts', my_quotes_path %>
        <% end %>
        <li class="nav-header">Language</li>
        <%= nav_link 'English', language_path('english') %>
        <%= nav_link '日本語', language_path('japanese') %>
        <%= nav_link '中文', language_path('chinese') %>
      </ul>
    </div>
  </div>

  <div class="span10">
    <% if @quotes.present? %>
      <ul id="quotes">
        <% cache @quotes do %>
          <%= render @quotes %>
        <% end %>
      </ul>
    <% else %>
      <div class="well">No quotes found...</div>
    <% end %>

    <%= render 'more_results' %>
  </div>
</div>
