#quote
  %blockquote.quote_body= @quote.content
  .meta_info
    = @quote.name
    = "-《#{@quote.source}》" if @quote.source?
  .uploader
    Uploaded by #{link_to @quote.user.name, @quote.user}

- if @quote.user == current_user
  .form-actions
    = link_to 'Edit', edit_quote_path(@quote), :class => 'btn'
    = link_to 'Destroy', quote_path(@quote), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
