= title truncate(@quote.content, length: 70)
= description "#{@quote.content} - #{@quote.author_name} #{@quote.source}"

- meta property: 'og:site_name', content: 'Quoty.me'
- meta property: 'og:title', content: "Quote shared by #{@quote.user.name}"
- meta property: 'og:description', content: "\"#{@quote.content}#{' - ' + @quote.author_name if @quote.author_name}\""
- meta property: 'og:url', content: request.original_url
- meta name: 'twitter:card', content: 'summary'

#quote.quote.well
  %blockquote
    .quote_body{class: @quote.language}
      = simple_format(@quote.content)
    .meta_info
      = render 'quote_meta_info', quote: @quote
  .context
    = @quote.context
  .quote_photo
    - @quote.photos.each do |photo|
      = image_tag photo.file_url, class: 'img-thumbnail', alt: 'quote photo'

  .uploader
    = t('.uploaded_by', user_name: link_to(@quote.user.name, @quote.user), time: time_ago_in_words(@quote.created_at)).html_safe
    - if @quote.language
      = t('.in_language', language: @quote.language_in_its_own).html_safe

  .like{id: dom_id(@quote, :like)}
    = render "likes/like", quote: @quote

- if @quote.user == current_user
  .form-actions.well
    = link_to t('.edit'), [:edit, @quote], class: 'btn btn-default'
    = link_to t('.destroy'), quote_path(@quote), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'

#quote_comments.comment_container.well
  %h3= t('common.comment_header')
  - if signed_in?
    = render 'comments/form', quote: @quote
  - else
    = t '.need_login_html', login: link_to(t('global.login'), login_path)

  %h4#comments_count
    = pluralize(@quote.comments_count, 'comment')
  %ul.comments
    = render(@quote.comments)
  - if @quote.comments_count == 0
    .no_records
      = t('.no_comment')
