#quote
  %blockquote
    .quote_body= @quote.content
    .meta_info
      = @quote.name
      %cite= "-《#{@quote.source}》" if @quote.source?
  .uploader
    Uploaded by #{link_to @quote.user.name, @quote.user}, #{time_ago_in_words(@quote.created_at)} ago.
    In
    = link_to @quote.language_in_its_own, language_path(@quote.language)

- if @quote.user == current_user
  .form-actions
    = link_to 'Edit', edit_quote_path(@quote), :class => 'btn'
    = link_to 'Destroy', quote_path(@quote), :method => "delete", :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-danger'
= link_to 'Bookmark', bookmarks_path(quote_id: @quote.id), method: :post, id: dom_id(@quote, :bookmark), class: 'btn'
= render 'disqus_thread'