= simple_form_for @user, html: { class: 'form-horizontal', id: 'user_form' } do |f|
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-8
      = f.text_field :name, class: 'form-control'
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-8
      = f.email_field :email, class: 'form-control'
  .form-group
    = f.label :profile, class: 'col-sm-2 control-label'
    .col-sm-8
      = f.text_area :profile, class: 'form-control', rows: 5
  %hr
  = f.fields_for :preference do |preference_form|
    .form-group
      = preference_form.label :languages, class: 'col-sm-2 control-label'
      .col-sm-8
        = preference_form.select :languages, %w(english japanese chinese), { prompt: 'Select language' }, class: 'form-control'
  .form-group
    .col-sm-offset-2.col-sm-8
      = f.submit data: { disable_with: 'Updating...' }, id: 'user_submit', class: 'btn btn-primary'
