= simple_form_for @user, html: { class: 'form-horizontal', id: 'user_form' } do |f|
  = f.input :name
  = f.input :email
  = f.input :profile, controls_html: { rows: 5, class: 'col-md-6' }
  %hr
  = f.simple_fields_for :preference do |preference_form|
    = preference_form.input :languages, as: :select, collection: %w(english japanese chinese), prompt: 'Select language'
  .form-actions
    = f.button :submit, data: { disable_with: 'Updating...' }, id: 'user_submit', class: 'btn btn-primary'
