.page-header
  %h1 #{@user.name}'s posted quoties:
  - if @user.quotes.present?
    %ul#quotes= render @user.quotes
  - else
    %p No quotes posted yet.

%p.pull-right
  %i.icon-leaf
  = link_to "#{@user.name}'s JSON feed url", user_url(@user, format: :json)
.clearfix

.bookmarks
  %h2 #{@user.name}'s Bookmark
  %ul.bookmark_list
    - if @user.bookmarks.present?
      = render @user.bookmarks
    - else
      No bookmark.

%ul#quotes= render @user.quotes