.well
  .page-header
    %h1= t('.users_page', user_name: @user.name)

  %ul.nav.nav-tabs
    %li.active
      = link_to t('.activities'), '#activities', data: { toggle: :tab }
    %li
      = link_to t('.posted_quotes'), '#posted_quotes', data: { toggle: :tab }

  .tab-content
    #activities.tab-pane.active
      %ul.activities
        - cache @activities do
          - @activities.each do |activity|
            %li= render_activity(activity, layout: 'layouts/activity_wrapper')
    #posted_quotes.tab-pane
      - if @user.quotes.present?
        %ul#quotes
          - cache @user.quotes do
            = render @user.quotes
      - else
        %p= t('.no_quotes_posted_yet')
