#login_modal.modal.hide.fade
  .modal-header
    %button.close{"aria-hidden" => "true", data: { dismiss: 'modal' }} &times;
    %h3 Login to Quoty...
  .modal-body
    .alert.alert-info
      %i.icon-info-sign
      = message
    .row-fluid
      .social_login_container.span6
        %ul.social-login
          %li
            = link_to '/auth/twitter', class: 'btn' do
              %i.icon-twitter
              Login with Twitter
          %li
            = link_to '/auth/facebook', class: 'btn' do
              %i.icon-facebook
              Login with Facebook
      .account_login_container.span6
        = form_tag "/auth/identity/callback" do
          .input-prepend
            %span.add-on
              %i.icon-envelope
            = text_field_tag :auth_key, nil, placeholder: t('common.email')
          .input-prepend
            %span.add-on
              %i.icon-key
            = password_field_tag :password, nil, placeholder: t('common.password')
          = submit_tag "Login", class: 'btn', data: { disable_with: t('common.logging_in')}
  .modal-footer
    = link_to 'Create an account', new_identity_path