<div class="row">
  <div class="col-md-9">
    <% unless @wiki.is_root? %>
      <ul class="breadcrumb">
        <li><%= link_to 'Wiki', wikis_path %><span class="divider">/</span></li>
        <% @wiki.ancestors.each do |wiki| %>
          <li><%= link_to wiki.title, wiki %><span class="divider">/</span></li>
        <% end %>
        <li class='active'><%= @wiki.title %></li>
      </ul>
    <% end %>

    <div class="well">
      <div class="page-header">
        <h1><%= @wiki.title %></h1>
      </div>

      <%= simple_format @wiki.description %>
    </div>

    <% if current_user == @wiki.user %>
      <div class="form-actions">
        <%= link_to 'Edit', edit_wiki_path(@wiki), class: 'btn' %>
        <%= link_to 'Destroy', wiki_path(@wiki), method: "delete", data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    <% end %>

    <% if @wiki.quotes.count > 0 %>
      <div class="quotes">
        <h3 class='well'>Quotes in <%= @wiki.title %></h3>
        <ul id="quotes">
          <%= render @wiki.quotes %>
        </ul>
      </div>
    <% end %>
  </div>

  <% if @wiki.is_root? && @wiki.has_children? %>
    <div class="col-md-3">
      <div class="well sidebar-nav">
        <h2>See also</h2>
        <ul>
          <% @wiki.descendants.each do |wiki| %>
            <li><%= link_to wiki.title, wiki %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if !@wiki.is_root? && @wiki.has_siblings? %>
    <div class="col-md-3">
      <div class="well sidebar-nav">
        <h2>See also</h2>
        <ul>
          <% @wiki.siblings.each do |wiki| %>
            <% next if wiki == @wiki %>
            <li><%= link_to wiki.title, wiki %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
